[user]
  name = Peter Young
  email = young40@gmail.com

[core]
  ignorecase = false
  editor = vim
  excludesfile = ~/dot/.gitignore_global

[push]
  default = matching

[diff]
  tool = vimdiff

[credential]
  helper = store
