[user]
	name = Peter Young
	email = young40@gmail.com

[core]
  ignorecase = false
  editor = vim
	excludesfile = /Users/young40/dot/.gitignore_global
  quotepath = false

[push]
  default = simple

[diff]
  tool = vimdiff
  external = ~/dot/icdiffgit.sh

[credential]
  helper = store
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/young40/.stCommitMsg
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
