[user]
  name = Peter Young
  email = young40@gmail.com

[core]
  ignorecase = false
  editor = emacs
	excludesfile = /Users/young40/dot/.gitignore_global

[push]
  default = matching

[diff]
	tool = vimdiff
